a:focus, a:active {outline: none;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
	@extend %font-family-Georgia;
}

p {
	@extend %font-family-Arial;
}

ul {
	list-style-type: none;
}