a:focus,
a:active {
	outline: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-size: 1rem;
	font-family: Georgia, "Times New Roman", Times, serif;
}

h2,
h3,
h4,
h5 {
	@extend %font-family-Georgia;
}

h3 {
	color: $color-dark-i;
	font-size: 35px;
	line-height: 45px;
	letter-spacing: 0.06em;
}

p {
	@extend %font-family-Arial;
}

ul {
	list-style-type: none;
}

img {
	object-fit: cover;
}