.button {
	padding: 15px 45px;
	width: 207px;
	height: 52px;
	background-color: $color-primary;
	border: 2px solid $color-primary;
	border-radius: 100px;
	@extend %font-family-Georgia;
	font-size: 17px;
	cursor: pointer;
	@extend %transition;

	&:hover {
		background-color: $color-primary-light;
		border: 2px solid $color-primary-light;
	}
}

.circular-button {
	height: 52px;
	width: 52px;
	top: 412px;
	border-radius: 100px;
	padding: 23px 19px;
	border: 2px solid $color-primary;
	@extend %transition;
	cursor: pointer;

	&:hover {
		background-color: $color-primary-light;
		border: 2px solid $color-primary-light;
	}
  @media (min-width: $mobile-width) and (max-width: 767px) {
    top: 640px;
  }
}
