@font-face {
  font-family: Georgia;
  src: url(../../assets/fonts/Georgia/georgia-regular.ttf);
}
@font-face {
  font-family: Arial;
  src: url(../../assets/fonts/Arial/arial-regular.ttf);
}
.our-pets__button, .header__title, .button, h2,
h3,
h4,
h5 {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
}

.header__navigation, .header__subtitle, p {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
}

.burger_pressed, .burger, .pets__card, .circular-button, .button {
  transition: all 0.3s ease-out;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h3 {
  color: #545454;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
}

ul {
  list-style-type: none;
}

img {
  object-fit: cover;
}

.button {
  padding: 15px 45px;
  width: 207px;
  height: 52px;
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-size: 17px;
  cursor: pointer;
}
.button:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.circular-button {
  height: 52px;
  width: 52px;
  top: 412px;
  border-radius: 100px;
  padding: 23px 19px;
  border: 2px solid #F1CDB3;
  cursor: pointer;
}
.circular-button:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}
@media (min-width: 320px) and (max-width: 767px) {
  .circular-button {
    top: 640px;
  }
}

.header {
  position: fixed;
  width: 100%;
  padding: 30px 0px;
  background-color: #FFFFFF;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #545454;
}
.header__subtitle {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
  margin-top: 10px;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 443px;
  height: 27px;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px;
}
.header__link {
  position: relative;
  color: #545454;
}
.header__link:hover {
  color: #292929;
}
.header__link_active {
  color: #292929;
}
.header__link_active::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #F1CDB3;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header {
    padding: 30px 5px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header {
    padding: 30px 0px;
  }
  .header__wrapper {
    padding: 0 43px 0 10px;
  }
  .header__navigation {
    display: none;
  }
  .header__navigation_burgerIsActive {
    position: absolute;
    right: 0;
    top: 0;
    height: 732px;
    width: 320px;
    margin-top: 120px;
    padding: 165px 0 256px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.footer {
  background: url("../../assets/img/bg/footer-gradient-background.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0 0;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 160px;
}
.footer__big-block {
  display: flex;
  justify-content: space-between;
  width: 740px;
}
.footer__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 279px;
  padding: 16px 0px 60px;
}
.footer__title {
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.footer__string {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  align-items: center;
}
.footer__mail-addres {
  padding-right: 27px;
}
.footer__phone-number {
  padding-right: 39px;
}
.footer__boston-link {
  text-align: right;
}
.footer__london-link {
  padding-right: 12px;
}
.footer__puppy {
  height: 310px;
  width: 300px;
}
.footer a {
  color: #F1CDB3;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding: 0;
  }
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }
  .footer__big-block {
    padding: 0px 34px;
    width: 708px;
  }
  .footer__block {
    gap: 40px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    padding-top: 30px;
  }
  .footer__wrapper {
    width: 300px;
    flex-direction: column;
    padding: 30px 0 0;
    gap: 30px;
  }
  .footer__big-block {
    flex-direction: column;
    gap: 40px;
    width: 100%;
    align-items: center;
  }
  .footer__block {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding: 0;
  }
  .footer__title {
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
  }
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .wrapper {
    max-width: 1279px;
    padding: 0 30px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .wrapper {
    max-width: 767px;
    padding: 0 10px;
  }
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
  width: 100%;
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.6);
}
.modal__wrapper {
  margin: auto auto;
}
.modal__block {
  position: relative;
  margin: auto auto;
  height: 552px;
  width: 952px;
}
.modal__close-button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  background-image: url("../../assets/icons/close.png");
  background-position: center;
  background-repeat: no-repeat;
}
.modal__card {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 500px;
  width: 900px;
  border-radius: 9px;
  background-color: #FAFAFA;
}
.modal__img {
  width: 50%;
  height: 100%;
  border-radius: 9px;
}
.modal__content {
  padding: 50px 20px 88px 29px;
}
.modal__pet-name {
  margin-bottom: 10px;
}
.modal__pet-breed {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
}
.modal__pet-description {
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
}
.modal__option {
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  margin-bottom: 11px;
}
.modal__option span {
  font-weight: bold;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .modal__block {
    height: 402px;
    width: 682px;
  }
  .modal__card {
    height: 350px;
    width: 630px;
  }
  .modal__content {
    padding: 10px 10px 36px;
  }
  .modal__pet-breed {
    margin-bottom: 20px;
  }
  .modal__pet-description {
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.06em;
  }
  .modal__option {
    margin-bottom: 5px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .modal__block {
    height: 400px;
    width: 270px;
    text-align: center;
  }
  .modal__card {
    height: 341px;
    width: 252px;
  }
  .modal__img {
    display: none;
  }
  .modal__content {
    padding: 10px;
  }
  .modal__pet-breed {
    margin-bottom: 15px;
  }
  .modal__pet-description {
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.06em;
    text-align: justify;
    margin-bottom: 20px;
  }
  .modal__options {
    text-align: left;
  }
  .modal__option {
    line-height: 12px;
  }
}

.our-pets {
  padding-top: 200px;
  padding-bottom: 100px;
  background-color: #F6F6F6;
}
.our-pets__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 60px 0px;
  justify-content: center;
}
.our-pets__nav {
  display: flex;
  justify-content: space-between;
  height: 52px;
  width: 340px;
  margin: 0 auto;
}
.our-pets__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #292929;
}
.our-pets__button:disabled {
  cursor: default;
  border: 2px solid #CDCDCD;
}
.our-pets__button:disabled:hover {
  background-color: #F6F6F6;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .our-pets {
    padding: 0;
  }
  .our-pets__wrapper {
    padding: 180px 64px 70px;
  }
  .our-pets__cards {
    width: 580px;
    margin: 0 auto;
    padding: 30px 0 40px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .our-pets {
    padding: 0;
  }
  .our-pets__wrapper {
    padding: 162px 10px 42px;
  }
  .our-pets__cards {
    margin: 0 auto;
    margin-bottom: 42px;
    padding: 42px 0px;
    height: 1395px;
    width: 270px;
    gap: 30px;
    overflow: hidden;
  }
  .our-pets__nav {
    width: 300px;
  }
}

.page-number {
  background-color: #F1CDB3;
}

.pets {
  background-color: #F6F6F6;
}
.pets__wrapper {
  padding: 80px 0px 100px;
  position: relative;
}
.pets__title {
  text-align: center;
  margin: 0 auto;
}
.pets__card {
  display: flex;
  flex-direction: column;
  width: 270px !important;
  border-radius: 9px 9px 0px 0px;
  background-color: #FAFAFA;
}
.pets__card:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}
.pets__img {
  object-fit: contain;
  margin-bottom: 30px;
}
.pets__name {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  margin-bottom: 30px;
}
.pets__button {
  align-self: center;
  margin-bottom: 30px;
  background-color: #FAFAFA;
}
.pets__primary-button {
  display: block;
  margin: 60px auto;
  margin-bottom: 0;
  height: 52px;
  width: 261px;
  padding: 15px 40px 15px 40px;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .pets__wrapper {
    max-width: 768px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pets__wrapper {
    width: 300px;
    padding: 42px 0;
    position: relative;
  }
  .pets__title {
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .pets__primary-button {
    margin: 92px auto 0;
  }
}

.swiper {
  margin-top: 60px;
  width: 1120px;
}

.swiper-wrapper {
  gap: 103px;
  padding: 0px 53px;
}

.arrow-left {
  background-image: url("../../assets/icons/Arrow-left.png");
  background-position: center;
  background-repeat: no-repeat;
}

.arrow-right {
  background-image: url("../../assets/icons/Arrow-right.png");
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev,
.swiper-button-next {
  color: transparent;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .swiper {
    width: 616px;
  }
  .swiper-wrapper {
    gap: 40px;
    padding: 0 12px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .swiper {
    width: 305px;
  }
  .swiper-wrapper {
    gap: 35px;
    padding: 0 19px;
  }
  .swiper-button-prev {
    left: 40px;
  }
  .swiper-button-next {
    right: 40px;
  }
}
.burger {
  height: 22px;
  width: 30px;
  display: none;
}
.burger_pressed {
  rotate: 90deg;
}
.burger__line {
  width: 100%;
  height: 2px;
  background-color: #F1CDB3;
}
.burger__line_black {
  background-color: black;
}
@media (min-width: 320px) and (max-width: 767px) {
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .burger_our-pets {
    margin-right: 34px;
  }
}

/*# sourceMappingURL=style.css.map */
