%font-family-Georgia {
	font-family: "Georgia";
	font-style: normal;
	font-weight: 400;
}

%font-family-Arial {
	font-family: "Arial";
	font-style: normal;
	font-weight: 400;
}

%transition {
	transition: all 0.3s ease-out;
}
