.about {
	background-color: $color-light-xl;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		padding: 80px 175px 100px;
	}

	&__img {
		margin-right: 120px;
		height: 408px;
		width: 300px;
	}

	&__content {
		width: 430px;
	}

	&__title {
		margin-bottom: 25px;
		width: 370px;
	}

	&__paragraph {
		font-size: 15px;
		line-height: 24px;
		color: $color-dark-xl;
	}

	&__paragraph1 {
		margin-bottom: 25px;
	}

	@media (max-width: $tablet-width) {
		&__wrapper {
			flex-direction: column;
			padding: 80px 65px 100px;
			align-items: center;
		}

		&__content {
			margin-bottom: 80px;
		}

		&__img {
			order: 2;
			margin-right: 0;
		}
	}
}
