.about {
	background-color: $color-light-xl;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		padding: 80px 175px 100px;
	}

	&__img {
		margin-right: 120px;
	}

	&__content {
		width: 430px;
	}

	&__title {
		margin-bottom: 25px;
	}

	&__paragraph {
		font-size: 15px;
		line-height: 24px;
		color: $color-dark-xl;
	}

	&__paragraph1 {
		margin-bottom: 25px;
	}
}
