.our-pets {
	padding-top: 200px;
	padding-bottom: 100px;
	background-color: $color-background;

	&__cards {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
		padding: 60px 0px;
		justify-content: center;
	}

	&__nav {
		display: flex;
		justify-content: space-between;
		height: 52px;
		width: 340px;
		margin: 0 auto;
	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $color-background;
		@extend %font-family-Georgia;
		font-size: 20px;
		line-height: 23px;
		letter-spacing: 0.06em;
		color: $color-dark-3xl;

		&:disabled {
			cursor: default;
			border: 2px solid $color-dark-s;

			&:hover {
				background-color: $color-background;
			}
		}
	}

	@media (min-width: $tablet-width) and (max-width: 1279px) {
		padding: 0;

		&__wrapper {
			padding: 180px 64px 70px;
		}

		&__cards {
			width: 580px;
			margin: 0 auto;
			padding: 30px 0 40px;
		}
	}

	@media (min-width: $mobile-width) and (max-width: 767px) {
		padding: 0;

		&__wrapper {
			padding: 162px 10px 42px;
		}

		&__cards {
			margin: 0 auto;
			margin-bottom: 42px;
			padding: 42px 0px;
			height: 1395px;
			width: 270px;
			gap: 30px;
			overflow: hidden;
		}

		&__nav {
			width: 300px;
		}
	}
}

.page-number {
	background-color: $color-primary;
}
