.our-pets {
	padding-top: 200px;
	padding-bottom: 100px;
	background-color: $color-background;

	&__cards {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
		padding: 60px 0px;
	}

	&__nav {
		display: flex;
		justify-content: space-between;
		height: 52px;
		width: 340px;
		margin: 0 auto;
	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $color-background;
		@extend %font-family-Georgia;
		font-size: 20px;
		line-height: 23px;
		letter-spacing: 0.06em;
		color: $color-dark-3xl;

		&:disabled {
			cursor: default;
			border: 2px solid $color-dark-s;

			&:hover {
				background-color: $color-background;
			}
		}
	}
}

.page-number {
  background-color: $color-primary;
}