.pets {
	background-color: $color-background;

	&__wrapper {
		padding: 80px 0px 100px;
		position: relative;
	}

	&__title {
		text-align: center;
		margin: 0 auto;
	}

	&__card {
		display: flex;
		flex-direction: column;
		width: 270px !important;
		border-radius: 9px 9px 0px 0px;
		background-color: $color-light-s;
		@extend %transition;

		&:hover {
			background-color: $color-light-xl;
			cursor: pointer;
		}
	}

	&__img {
		object-fit: contain;
		margin-bottom: 30px;
	}

	&__name {
		font-size: 20px;
		line-height: 23px;
		letter-spacing: 0.06em;
		text-align: center;
		color: $color-dark-i;
		margin-bottom: 30px;
	}

	&__button {
		align-self: center;
		margin-bottom: 30px;
		background-color: $color-light-s;
	}

	&__primary-button {
		display: block;
		margin: 60px auto;
		margin-bottom: 0;
		height: 52px;
		width: 261px;
		padding: 15px 40px 15px 40px;
		font-size: 17px;
		line-height: 22px;
		letter-spacing: 0.06em;
		color: $color-dark-3xl;
	}

	@media (min-width: $tablet-width) and (max-width: 1279px) {
		&__wrapper {
			max-width: 768px;
		}
	}

	@media (min-width: $mobile-width) and (max-width: 767px) {
		
		&__wrapper {
			width: 300px;
			padding: 42px 0;
			position: relative;
		}

		&__title {
			font-size: 25px;
			line-height: 32px;
			letter-spacing: 0.06em;
			text-align: center;
		}

		&__primary-button {
			margin: 92px auto 0;
		}
	}
}

.swiper {
	margin-top: 60px;
	width: 1120px;
}

.swiper-wrapper {
	gap: 103px;
	padding: 0px 53px;
}

.arrow-left {
	background-image: url("../../assets/icons/Arrow-left.png");
	background-position: center;
	background-repeat: no-repeat;
}

.arrow-right {
	background-image: url("../../assets/icons/Arrow-right.png");
	background-position: center;
	background-repeat: no-repeat;
}

.swiper-button-prev,
.swiper-button-next {
	color: transparent;
}

@media (min-width: $tablet-width) and (max-width: 1279px) {
	.swiper {
		width: 616px;
	}

	.swiper-wrapper {
		gap: 40px;
		padding: 0 12px;
	}

}

@media (min-width: $mobile-width) and (max-width: 767px) {
	.swiper {
		width: 305px;
	}

	.swiper-wrapper {
		gap: 35px;
		padding: 0 19px;
	}

	.swiper-button-prev {
		left: 40px;
	}

	.swiper-button-next {
		right: 40px;
	}
}
