.footer {
	background: url("../../assets/img/bg/footer-gradient-background.png"),
		radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
		#211f20;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 40px 0 0;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		gap: 160px;
	}

	&__big-block {
		display: flex;
		justify-content: space-between;
		width: 740px;
	}

	&__block {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 279px;
		padding: 16px 0px 60px;
	}

	&__title {
		font-size: 35px;
		line-height: 45px;
		letter-spacing: 0.06em;
		color: $color-light-xl;
	}

	&__string {
		display: flex;
		justify-content: space-between;
		font-size: 20px;
		line-height: 23px;
		letter-spacing: 0.06em;
		align-items: center;
	}

	&__mail-addres {
		padding-right: 27px;
	}

	&__phone-number {
		padding-right: 39px;
	}

	&__boston-link {
		text-align: right;
	}

	&__london-link {
		padding-right: 12px;
	}

	&__puppy {
		height: 310px;
		width: 300px;
	}

	a {
		color: $color-primary;
	}

	@media (min-width: $tablet-width) and (max-width: 1279px) {
		padding: 0;
		&__wrapper {
			flex-direction: column;
			align-items: center;
			gap: 35px;
		}

		&__big-block {
			padding: 0px 34px;
			width: 708px;
		}

		&__block {
			gap: 40px;
		}
	}

	@media (min-width: $mobile-width) and (max-width: 767px) {
		padding-top: 30px;

		&__wrapper {
			width: 300px;
			flex-direction: column;
			padding: 30px 0 0;
			gap: 30px;
		}

		&__big-block {
			flex-direction: column;
			gap: 40px;
			width: 100%;
			align-items: center;
		}

		&__block {
			display: flex;
			flex-direction: column;
			gap: 40px;
			width: 100%;
			padding: 0;
		}

		&__title {
			font-size: 25px;
			line-height: 32px;
			letter-spacing: 0.06em;
			text-align: center;
		}
	}
}
