.wrapper {
	max-width: $content-width;
	margin: 0 auto;
	padding: 0 40px;

	@media (min-width: $tablet-width) and (max-width: 1279px) {
		max-width: $tablet-width;
		padding: 0 30px;
	}

	@media (min-width: $mobile-width) and (max-width: 767px) {
		max-width: $mobile-width;
		padding: 0 10px;
	}
}
